/* navigation bar */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size:1rem;
    padding:0px7px;
    padding-bottom:8px;
}



/* home section */
#home{
    height:472px;
    padding:3px68px;
}

#home ::before{
    height:530px;
    }
#home p{
    font-size:13px;
    height: 11px;
}

/* services section */

#services {
    flex-direction:column;
}
#services.box{
    padding:14px;
    margin:2px0px;
    margin:20px;
}



/* client section */
#clients{
    flex-direction: wrap;
    overflow: hidden;
}
#clients img{
    width : 66px;
    padding : 6px;
    height: auto;
}
/* contact section */
#contact-box form{
    width: 80%;
}


/* utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
    margin:165px 4px 5px 7px;
}
.btn1{
    padding: 5px 2px;
}